
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li{
    float: left;
  }

  li a {
    display: inline-block;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
  }

  li a:hover{
      text-decoration: underline;
  }

#sign_in_button{
    display: inline-block;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight:bold;
    background: rgb(70, 136, 241);
    margin: 10px 10px 0px 10px;
    padding: 10px 20px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    position: relative;
    margin: 100px 200px 10px 200px;
}

input[type=text]{
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 6px rgba(40,40,40, 0.6);
    margin: 30px 0px 50px 0px;
}

    input:focus{
        outline: none;
    }



.button{
    background: rgba(40,40,40, 0.075);
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    flex-direction: row;
    margin: 0px 15px;
}


.button:hover{
    border: 2px rgb(40,40,40);
    box-shadow: 0 0 2px rgba(40,40,40, 0.5)
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: rgba(40,40,40, 0.075); 
    border: 10px gray;
}
    footer ul li a {
        color: rgba(40,40,40,0.75);
    }

.right{
    float:right;
}

