
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li{
    float: left;
  }

  li a {
    display: inline-block;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
  }

  li a:hover{
      text-decoration: underline;
  }

#sign_in_button{
    display: inline-block;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight:bold;
    background: rgb(70, 136, 241);
    margin: 10px 10px 0px 10px;
    padding: 10px 20px;
    }






img{
    position: relative;
    margin: 100px 200px 10px 200px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin: auto;
    width: 75%;
    border: 2px rgb(40,40,40);
    box-shadow: 0 0 6px rgba(40,40,40, 0.3);
    padding: 5px;
  }

input[type=text]{
    display: flex;
    justify-content: center;
    height: 35px;
    border-radius: 50px;
}

    input:focus{
        outline: none;
    }

.buttoncenter{
    display: flex;
    margin: auto;
}

button{
    position: relative;
    border: none;
    border-radius: 5px;
    background: rgba(40,40,40, 0.075);
    height: 30px;
    width: 150px;
    top: 25px;
    left: 0px;
    right: 0px;
    font-size: 16px;
    justify-content: center;
}

button:hover{
    border: 2px rgb(40,40,40);
    box-shadow: 0 0 2px rgba(40,40,40, 0.5)
}




footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: rgba(40,40,40, 0.075); 
    border: 10px gray;
}
    footer ul li a {
        color: rgba(40,40,40,0.75);
    }

.right{
    float:right;
}

